[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
pyfiglet = "*"
pyyaml = "*"
langchain-community = "*"
langchain = "*"
langchain-openai = "*"
sentence-transformers = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_version = "3.12"
